@import '@/styles/variable.scss';

// ------------------------------+
//
//            LOGO
//
// ------------------------------+

.img_cont {
  margin: $small_margin;
  display: flex;
  align-items: center;
  justify-content: center;
  .img {
    cursor: none;
  }
}
