@import '@/styles/variable.scss';

// ------------------------------+
//
//          BASIC LAYOUT
//
// ------------------------------+

.global_cont {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    circle,
    $black_color 80%,
    $first_color 100%,
  );
  overflow: hidden;
}
