@import '@/styles/variable.scss';

// ------------------------------+
//
//         ABOUT PAGE
//
// ------------------------------+

.about_page{
    width: auto;
    height: 100%;
    margin: 150px 80px 0px 80px;
   // display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    .head {
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
        left: 401px;
        top: 60px;
        
        color: white;
        font-family: $second_font;
    }
    .person-info {
        display: flex;
    }
}