@import '@/styles/variable.scss';

// ------------------------------+
//
//         ABOUT PAGE
//
// ------------------------------+

.about_page_intro {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .about_page_intro_cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 80%;
    .title {
      width: 100%;
      text-align: center;
      .p_title {
        font-size: $title_font_size;
      }
    }
    .team_info {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: $big_margin;
    }
  }
}

.about_page_scroll {
  width: 90%;
}
