@import '@/styles/variable.scss';

// ------------------------------+
//
//         ABOUT PAGE COMPONENTS
//
// ------------------------------+

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
}
