@import '../styles/variable.scss';

// ------------------------------+
//
//            FONT
//
// ------------------------------+

@font-face {
  font-family: 'Quantum';
  src: url('../../public/font/quantum.otf');
}

@font-face {
  font-family: 'Orbitron';
  src: url('../../public/font/Orbitron.ttf');
}

// ------------------------------+
//
//            GLOBAL
//
// ------------------------------+

* {
  box-sizing: unset;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  letter-spacing: $letter_spacing;
}

// ------------------------------+
//
//            TEXT
//
// ------------------------------+

.p {
  color: $white_color;
  font-size: $font_size;
  font-family: $second_font;
  &_small {
    font-size: $small_font_size;
  }
  &_medium {
    font-size: $medium_font_size;
  }
  &_big {
    font-size: $big_font_size;
  }
}
.span {
  color: $first_color;
  font-size: $font_size;
  font-family: $second_font;
  &_small {
    font-size: $small_font_size;
  }
  &_medium {
    font-size: $medium_font_size;
  }
  &_big {
    font-size: $big_font_size;
  }
  &_light {
    color: $second_color;
  }
  &_light_small {
    color: $second_color;
    font-size: $small_font_size;
  }
  &_light_medium {
    color: $second_color;
    font-size: $medium_font_size;
  }
  &_light_big {
    color: $second_color;
    font-size: $big_font_size;
  }
}

// ------------------------------+
//
//          SELECTION
//
// ------------------------------+


*::selection {
  background-color: $white_color;
  color: $black_color;
}

*::-moz-selection {
  background-color: $white_color;
  color: $black_color;
}

// ------------------------------+
//
//            SCROLL
//
// ------------------------------+

*::-webkit-scrollbar {
  width: $big_border_width;
  height: $big_border_width;
  background-color: $black_color;
}

*::-webkit-scrollbar-thumb {
  background-color: $first_color;
}