@import '../styles/variable.scss';

@font-face {
  font-family: 'Quantum';
  src: url('../../public/font/quantum.otf');
}

@font-face {
  font-family: 'Orbitron';
  src: url('../../public/font/Orbitron.ttf');
}

* {
  box-sizing: unset;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  // height: 100vh;
  background-color: black;
  letter-spacing: $letter_spacing;
}
#__next {
  width: 100%;
}
.p {
  color: $white_color;
  font-size: $font_size;
  font-family: $first_font;
  &_small {
    font-size: $small_font_size;
  }
  &_medium {
    font-size: $medium_font_size;
  }
  &_big {
    font-size: $big_font_size;
  }
}
.span {
  color: $first_color;
  font-size: $font_size;
  font-family: $first_font;
  &_small {
    font-size: $small_font_size;
  }
  &_medium {
    font-size: $medium_font_size;
  }
  &_big {
    font-size: $big_font_size;
  }
  &_light_small {
    color: $second_color;
    font-size: $small_font_size;
  }
  &_light_medium {
    color: $second_color;
    font-size: $medium_font_size;
  }
  &_light_big {
    color: $second_color;
    font-size: $big_font_size;
  }
}
