$white_color: ghostwhite;
$black_color: black;
$first_color: #183d8a;
$second_color: #9bb0da;
$border_radius: 20px;
$border_width: 2px;
$first_font: Quantum;
$small_font_size: 14px;
$font_size: 16px;
$medium_font_size: 18px;
$big_font_size: 24px;
$title_font_size: 32px;
$letter_spacing: 2px;
$text_indent: 6px;
$button_margin_bottom: 6px;
$transition: 0.2s;
