// color
$white_color: ghostwhite;
$black_color: black;
$first_color: #183d8a;
$second_color: #9bb0da;
// border
$small_border_radius: 10px;
$border_radius: 20px;
$border_width: 2px;
// big border
$big_border_radius: 10%;
$big_border_width: 6px;
// font
$first_font: Quantum;
$second_font: Orbitron;
// font size
$small_small_font_size: 12px;
$small_font_size: 14px;
$font_size: 16px;
$medium_font_size: 18px;
$big_font_size: 24px;
$title_font_size: 32px;
// letter
$letter_spacing: 2px;
$text_indent: 20px;
$line_height: 28px;
// animation
$transition: 0.2s;
$transition_long: 0.4s;
$transition_long_long: 0.8s;
$transition_logo_nav_bar: 1s;
// margin
$small_margin: 10px;
$margin: 20px;
$big_margin: 40px;
