@import '@/styles/variable.scss';

// ------------------------------+
//
//           BUTTON
//
// ------------------------------+

.btn {
  display: inline-block;
  font-size: $medium_font_size;
  letter-spacing: $letter_spacing;
  border-radius: $big_border_radius;
  font-weight: 600;
  padding: 16px 16px;
  font-family: $second_font;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  transition: $transition all;
  cursor: pointer;
  border-top: none;
  border-bottom: none;
  background-color: transparent;
  color: $white_color;
  &_primary {
    border-left: $big_border_width solid $first_color;
    border-right: $big_border_width solid $first_color;
    &:hover {
      background: rgba($color: $first_color, $alpha: 0.8);
      box-shadow: 0 0 80px $first_color;
      text-shadow: 0 0 80px $white_color;
    }
  }
  &_secondary {
    border-left: $big_border_width solid $second_color;
    border-right: $big_border_width solid $second_color;
    &:hover {
      background: rgba($color: $second_color, $alpha: 0.8);
      box-shadow: 0 0 80px $second_color;
      text-shadow: 0 0 80px $white_color;
    }
  }
}
