@import '../../../styles/variable.scss';

.btn {
  display: inline-block;
  border-radius: $border_radius;
  font-size: $medium_font_size;
  font-weight: 400;
  padding: 28px 40px 28px;
  font-family: $first_font;

  cursor: pointer;
  transition: $transition all;
  &__primary {
    background-color: transparent;
    color: $white_color;
    border-left: 10px solid $first_color;
    border-right: 10px solid $first_color;
    border-top: none;
    border-bottom: none;
    transition: box-shadow $transition ease-in-out;
    &:hover {
      background: rgba($color: $first_color, $alpha: 0.8);
      border-left: 10px solid $first_color;
      border-right: 10px solid $first_color;
      border-top: none;
      border-bottom: none;
      color: $white_color;
      box-shadow: 0 0 80px $first_color;
      text-shadow: 0 0 80px $white_color;
    }
  }
  &__secondary {
    background-color: transparent;
    color: $white_color;
    border-left: 10px solid $second_color;
    border-right: 10px solid $second_color;
    border-top: none;
    border-bottom: none;
    transition: box-shadow $transition ease-in-out;
    &:hover {
      background: rgba($color: $second_color, $alpha: 0.8);
      border-left: 10px solid $second_color;
      border-right: 10px solid $second_color;
      border-top: none;
      border-bottom: none;
      color: $white_color;
      box-shadow: 0 0 80px $second_color;
      text-shadow: 0 0 80px $white_color;
    }
  }
}
