@import '@/styles/variable.scss';

// ------------------------------+
//
//          MAIN LAYOUT
//
// ------------------------------+

.global_cont {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    circle,
    $second_color 10%,
    $black_color 30%,
    $black_color 40%,
    $first_color 60%,
    $black_color 70%
  );
  overflow: hidden;
  position: relative;
}
