@import '@/styles/variable.scss';

// ------------------------------+
//
//          MODAL GRAPH
//
// ------------------------------+

.table_cont {
  width: auto;
  height: auto;
  margin-top: $big_margin;
  font-family: $second_font;
  border: $border_width solid $first_color;
  img{
    height: 340px;
  }
}
