@import '@/styles/variable.scss';

// ------------------------------+
//
//          MODAL
//
// ------------------------------+

.modal_page {
  transition: all $transition_long ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba($color: $black_color, $alpha: 0);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  .modal_cont {
    position: fixed;
    top: 2%;
    right: 0;
    height: 96%;
    width: 75%;
    transform: translateX(100%);
    background-color: $first_color;
    border-radius: $border_radius;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all $transition_long ease-in-out;
    .left_modal {
      width: 8%;
      height: 96%;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      .close_modal {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $border_radius;
        background: rgba($color: $black_color, $alpha: 0.4);
        cursor: pointer;
      }
      .social_network {
        width: 80%;

        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
      .social_blank {
        height: 70%;

        img {
          margin-top: $margin;
        }
      }
      .community {
        width: 100%;

        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;

        border-bottom: $border_width solid $white_color;
        .vertical_text {
          transform: rotate(90deg);
          margin-bottom: $big_margin;
          color: white;
          font-size: $big_font_size; /* adjust the font size as needed */
          font-family: $first_font;
        }
      }
    }
    .right_modal {
      width: 92%;
      height: 100%;
      border-radius: $border_radius;
      background-color: $second_color;
      display: flex;
      justify-content: center;
      align-items: center;

      .right_cont {
        height: 96%;
        width: 96%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .right_top {
          width: 100%;
          height: 20%;
          display: flex;

          justify-content: space-between;
          align-items: center;
          border-bottom: $border_width solid $black_color;
          .crypto_title {
            font-size: 56px;
            font-family: $first_font;
          }
        }
        .right_middle {
          width: 100%;
          height: 70%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;

          .onglet_title {
            width: 60%;
            height: 5%;
            margin-top: $margin;

            display: flex;
            justify-content: space-between;
            align-items: center;
            .title {
              color: $black_color;
              font-weight: bold;
              transition: all $transition;
              &:hover,
              &.active {
                position: relative;
                span {
                  color: rgba($color: $first_color, $alpha: 2);
                }
              }
            }
          }
        }
        .right_bottom {
          width: 100%;
          height: 10%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          border-top: $border_width solid $black_color;
          .copy_title {
            color: $black_color;
          }
        }
      }
    }
  }
}

// ------------------------------+
//
//          ANIMATION
//
// ------------------------------+

.modal_page {
  &.open {
    background: rgba($color: $black_color, $alpha: 0.8);
  }
  .modal_cont {
    &.open {
      transform: translateX(0);
    }
  }
}

// ------------------------------+
//
//          HOVER / ACTIVE
//
// ------------------------------+
