@import '@/styles/variable.scss';

// ------------------------------+
//
//          MODAL
//
// ------------------------------+

.modal_page {
  transition: all $transition_long ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: rgba($color: $black_color, $alpha: 0);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  .modal_cont {
    position: absolute;
    top: 2%;
    right: 0;
    height: 96%;
    width: 75%;
    transform: translateX(100%);
    background-color: $first_color;
    border-radius: $border_radius;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all $transition_long ease-in-out;
    .left_modal {
      width: 8%;
      height: 96%;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;

      .close_modal {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $border_radius;
        background: rgba($color: $black_color, $alpha: 0.4);
        cursor: pointer;
        transition: transform $transition_long_long;
        margin-top: $small_margin;
        &:hover {
          font-weight: bold;
          transform: rotate(180deg);
        }
      }
      .social_network {
        width: 80%;

        height: 86%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
      .social_blank {
        border-top: $border_width solid $white_color;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        img {
          margin-top: $margin;
        }
        .lol{
          img{
            cursor: pointer;
          }
        }
      }
      .community {
        width: 100%;

        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;

        .vertical_text {
          transform: rotate(90deg);
          margin-bottom: $big_margin;
          color: $white_color;
          font-size: $medium_font_size;
          font-family: $first_font;
        }
      }
    }
    .right_modal {
      width: 92%;
      height: 100%;
      border-radius: $border_radius;
      background-color: $second_color;
      display: flex;
      justify-content: center;
      align-items: center;

      .right_cont {
        height: 96%;
        width: 96%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .right_top {
          width: 100%;
          height: 16%;
          display: flex;

          justify-content: space-between;
          align-items: center;
          border-bottom: $border_width solid $black_color;
          .crypto_title {
            font-size: 56px;
            font-family: $first_font;
          }
        }
        .right_middle {
          width: 100%;
          height: 70%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;

          .onglet_title {
            width: 60%;
            height: 5%;
            margin-top: $margin;

            display: flex;
            justify-content: space-between;
            align-items: center;

            .title {
              cursor: pointer;
              color: $black_color;
              font-weight: bold;
              transition: all $transition;
              &:hover,
              &.active {
                position: relative;

                span {
                  color: rgba($first_color, 0.8);
                  line-height: 1.2;

                  &::after {
                    content: '';
                    position: absolute;
                    bottom: -2px; /* Adjust the value to position the underline */
                    left: 0;
                    width: 100%;
                    height: 1px; /* Adjust the height of the underline */
                    background-color: rgba($first_color, 0.8);
                  }
                }
              }
            }
          }
        }
        .right_bottom {
          width: 100%;
          height: 10%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          border-top: $border_width solid $black_color;
          .copy_title {
            color: $black_color;
            margin: 0;
            margin-top: $small_margin;
          }
        }
      }
    }
  }
}

// ------------------------------+
//
//          ANIMATION
//
// ------------------------------+

.modal_page {
  &.open {
    background: rgba($color: $black_color, $alpha: 0.9);
  }
  .modal_cont {
    &.open {
      transition: transform $transition_long;
      transform: translateX(0);
    }
  }
}

.left_modal {
  transition: background-color $transition_logo_nav_bar;
  background-color: transparent;
  &.open {
    background-color: $first_color;
  }
}

.right_modal {
  transition: transform $transition_logo_nav_bar;
  transform: translateX(100%);

  &.open {
    transform: translateX(0);
  }
}
