@import '@/styles/variable.scss';

// ------------------------------+
//
//          SECTION END
//
// ------------------------------+

.cont_end {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  .end_cont {
    height: 100%;
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .text_cont {
      .p_title {
        margin:0;
        margin-top: $margin;
        font-size: 60px;
      }
      .p_text {
        margin: $margin 60px;
      }
    }
  }
}
