.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 40px;
    margin-top: 30px;
    width: auto;
    height: 487px;
    
}