@import '@/styles/variable.scss';

// // ------------------------------+
// //
// //          AOUT LAYOUT
// //
// // ------------------------------+

.global_cont {
  width: 100vw;
  min-height: 100vh;
  z-index: 4;
  overflow-x: hidden;
  position: relative;
  .canva_cont {
    position: fixed;
    width: 100%;
    height: 100%;
  }
}
