 @import '@/styles/variable.scss';

// // ------------------------------+
// //
// //          HOME LAYOUT
// //
// // ------------------------------+

.global_cont {
   width: 100vw;
   min-height: 100vh;
   background: radial-gradient(
     ellipse at bottom,
     $first_color 0%,
     $black_color 100%   );
   overflow-x: hidden;
   position: relative;
 }

